* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: #485457;
  margin: 0;
  padding: 0;
}
.center-col {
  background-color: #fff;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.l-half, .r-half {
  display: inline-block;
  height: 600px;
  width: 50%;
}
.l-half {
  background: #fff;
}
.r-half {
  background: #fff;
  float: right;

}
.container {
  margin-top: 5%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 2px 4px 16px #000,
              2px -4px 16px #000;
}
#home-half {
  background-image: url('img/glenn_home.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.red-it {
  color: #913331;
  text-shadow: none;
  text-decoration: none;
  margin-bottom: 0;
}
#welcome {
  padding-left: 20px;
}
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
}
.title {
  position: relative;
  height: 50px;
  background-color: rgb(40,40,40);
  text-align: center;
}
.title h2 {
  color: white;
  display: block;
}
.xtra-space {
  height: 100px;
  width: 100%;
}


/*NAVIGATION*/
nav {
  margin: 0;
  height: 50px;
  width: 100%;
  background-color: #84876d;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.8);
  position: relative;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 14px;
}
nav ul li {
  display: inline-block;
  margin: 0 auto;
  padding: 0 auto;
}
nav ul li a,
#home-nav {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #f5f5f5;
  margin: 0 auto;
  padding: 10px 10px;
  text-decoration: none;
}
nav ul li a:hover {
  color: #913331;
}

#home-nav {
  position: relative;
  height: 215px;
}
.row {
  position: relative;
  display: block;
  width: 100%;
}
.navBox {
  width: 25%;
  height: 100px;
  padding: 0;
  margin: 0;
  float: left;
  background-position: top;
  background-size: cover;
  box-shadow: 0 0 35px rgba(0,0,0,0.9) inset;
}
#home {
  background-image: url('img/photos/1991_Acoustic_001B.jpg');
}
#news {
  background-image: url('img/albums/misled.jpg');
}
#bio {
  background-image: url('img/photos/Manhat_79_001B.jpg');
}
#music {
  background-image: url('img/photos/buddy_thumb.png');
  background-position: center;
}
#videos {
  background-image: url('img/photos/greatest_hits.jpg');
  background-position: 0 12%;
}
#photos {
  background-image: url('img/photos/Tonedefs_82_001B.jpg');
}
#posters {
  background-image: url('img/posters/2001_CRC.jpg');
  background-position: 0 12%;
}
#contact {
  background-image: url('img/photos/Disco_Sucks_001B.jpg');
  background-position: 0 12%;
}
.navOver {
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1px solid white;
}
.navOver:hover {
  background-color: rgba(132, 135, 109, 0.8);
}
.navOver span {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display:table;
  margin: 0 auto;
  padding-top: 20px;
}
/*TYPGRAPHY
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
*/
h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 200px;
  margin-left: 50px;
}
.l-col h2 {
  margin-left: 50px;
  text-shadow: 2px 2px 4px #000000;
}
h2 {
  color: white;
  font-family: 'Playfair Display', serif;
  letter-spacing: .04em;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}
p {
  padding: 20px;
  font-family: 'Lora', serif;
  line-height: 20px;
  font-size: 16px;
  overflow: hidden;
}
a {
  text-decoration: none;
}
button {
  position: relative;
  display: inline;
  width: 200px;
  height: 50px;
  margin-top: 12px;
  margin-left: 24px;
  background-color: #913331;
  border: none;
  box-shadow: 2px 2px 4px #000000;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  cursor: pointer;
}

/*GALLERY*/
.gallery {
  max-width: 850px;
  margin: 0 auto;
}
.col {
  margin-top: 0px;
  min-width: 370px;
  max-width: 400px;
  float: left;
  display: inline-block;
}
.box {
  display: block;
  align-items: center;
}
.box > img {
  width: 100%;
  margin-top: -3px;
  margin-bottom: -4px;
}
.music {
  height: 250px;
  border: 1px solid white;
  text-align: center;
}
.music > h2 {
  padding-top: 50px;
}
.music > p {
  position: relative;
  padding: 30px;
  font-size: 14px;
}
#albums {
  background-color: #485457;
  align-items: center;
}
#album-h {
  display: block;
  margin-top: 50px;
  height: 150px;
}
#album-1 {
  background-image: url('img/albums/albums.jpg');
  background-size: cover;
}
#album-2 {
  background-color: rgb(40,40,40);
}
 .album-cta {
  background-color: white;
  margin: 20px;
}

#album-3 {
  background-image: url('img/albums/gloryland.jpg');
  background-size: cover;
  background-position: bottom;
}
#album-4 {
  background-image: url('img/albums/greatest_hits.jpg');
  background-size: cover;
}
#album-5 {
  background-image: url('img/albums/gb_psalm.jpg');
  background-size: cover;
  background-position: right;
}
#album-6 {
  background-image: url('img/albums/gb_acoustic.jpg');
  background-size: cover;
  background-position: top;
}
#album-7 {
  background-image: url('img/posters/1988_Dutch.gif');
  background-size: cover;
  background-position: top;
}
#album-8 {
  background-image: url('img/albums/gb_album.jpg');
  background-size: cover;
  background-position: center;
}
#album-9 {
  background-image: url('img/albums/misled.jpg');
  background-size: cover;
}
.audio-link {
  font-family: 'Lora', serif;
  color: #485457;
}
audio {
  display: none;
}
.overlay {
  position: relative;
  background-color: rgba(0,0,0,.6);
  height: 100%;
  width: 100%;
  opacity: 0;
}
.overlay:hover {
  opacity: 1;
}
.overlay > h2, .overlay > p {
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  color: white;
  padding-top: 15px;
}
.album-modal ol {
  padding-left: 30px;
}

#poster-col {
  background-color: #485457;
}
.date {
  text-align: center;
  padding-top: 75px;
}
.decade {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid white;
  box-shadow: 1px 2px 4px #000000;
}
.dec-cover {
  background-color: rgba(0,0,0,.4);
  height: 100%;
  width: 100%;
}
#dec-2000 {
  background-image: url('img/posters/2000s.jpg');
}
#dec-90 {
  background-image: url('img/posters/90s.jpg');
}
#dec-80 {
  background-image: url('img/posters/80s.jpg');
}
#dec-70 {
  background-image: url('img/posters/70s.png');
}

/*LIGHTBOXES*/
.imageCol {
  width: 33%;
  float: left;
  display: inline-block;
}

.imageCol img {
  cursor: pointer;
  display: block;
  width: 100%;
}

#lightBox {
  height: 100vh;
  display: none;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0,0,0,.8);
}
#lightBox img{
  max-height: 80vh;
  max-width: 80vw;
  display: block;
  margin: 0 auto;
  margin-top: 125px;
}
.caption {
  position: relative;
  display: inline;
  font-size: 13px;
  color: white;
  align-items: center;
}
.caption p {
  text-align: center;
  padding: 0;
}

/*MODAL DROP;*/
.modal-container {
  position: absolute;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}
.modal-container img {
  width: 100%;
}
.modal:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-container {
  top: 125px;
  display: block;
}
#biophoto {
  width: 70%;
  margin: 25px;
}
#bio {
  max-width: 320px;
}
.cent_img {
  width: 75%;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*VIDEOS*/

#video_col {
  background-color: #485457;
  align-items: center;
}
#video_col > iframe {
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px #000000;
}


/*MEDIA QUERIES*/

@media (max-width: 750px) {
  .l-half, .r-half {
    display: block;
    width: 100%;
    box-shadow: none;
  }
  .container {
    margin-top: 0;
  }
  .l-col h1 {
     padding-top: 200px;
     padding-left: 30px;
   }
  .gallery {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (max-width: 642px) {
  nav ul {
    padding-top: 0;
  }
}
@media (max-width: 480px) {
  .title h2 {
    font-size: 18px;
    padding-top: 10px;
  }
}
